<div fade-in>
	<div class="carousel">
		<div class="slide active-slide">
			<img src="../zga-assets/slide-one.jpg">
		</div>
		<div class="slide">
			<img src="../zga-assets/slide-two.jpg">
		</div>
		
		<div class="slide">
			<img src="../zga-assets/slide-three.jpg">
		</div>

	</div>
	<div class="carousel-nav">
		<a href="" class="prev-arrow"><img src="../zga-assets/prev-arrow.png"></a>
		<ul class="slider-dots">
			<li class="dot active-dot">&bull;</li>
			<li class="dot">&bull;</li>
			<li class="dot">&bull;</li>
		</ul>
		<a href="" class="next-arrow"><img src="../zga-assets/next-arrow.png"></a>
	</div>
<div class="container">
	<div class="row">	
		<div class="col-xs-12">
		<h1>LOCATION &amp; SERVICE TIMES</h1>
		<p>1620 E. Arapaho Road, Richardson, TX 75081</p></div>
		<div class="col-xs-12 col-sm-6">
			<h2>SUNDAYS</h2>
			<p>Sunday School - 9 a.m.<br>
			   Worship Service - 9:45 a.m.</p>
			<h2>WEDNESDAYS</h2>
			<p>Cottage Meeting - 7:30 p.m.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>FRIDAYS</h2>
			<p>Prayer Meeting - 8:30 p.m.</p>
			<h2>SATURDAYS</h2>
			<p>English Worship - 7:00 p.m.<br>
 				OR*<br>
			   Youth Meeting - 7:00 p.m.</p>
 
			<p>*Alternate Saturdays</p>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>LATEST SERMON</h1>
			<div class="audio-player"></div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<p>This week pastor Biju Thomas teaches from John 15 about abiding in the love of Christ.   Please join us next week as we continue to study the book of John.</p>
		</div>
		<a href="#/sermons" type="button" role="button" class="btn">SERMON ARCHIVE</a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<img src="../zga-assets/important-item-1.jpg">
		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="../zga-assets/important-item-2.jpg">
		</div>
	</div>
</div>
</div>
