<div class="container" fade-in>
	<div class="row default-page">
		<h2>ZGA LEADERSHIP</h2>
		<table>
			<tbody>
				<tr>
					<td><h5>  President </h5></td>
					<td>  Pastor Biju Thomas  </td>
				</tr>

				<tr>
					<td>  <h5>Secretary</h5> </td>
					<td>  Bro. Biju Daniel </td>
				</tr>

				<tr>
					<td>  <h5>Treasurer</h5> </td>
					<td>  Bro. Roy Thomas </td>
				</tr>

				<tr>
					<td>   <h5>Committee Members</h5>  </td>
					<td>  Bro. Samuel David,   Bro. Thomas Jacob, Bro. Reji Thomas, Bro. Sabu Yohannan </td> 
				</tr>

				<tr>
					<td>  <h5>Sunday School Superintendent</h5> </td>            
					<td> Bro. Reggie John  </td>  
				</tr> 

				<tr>
					<td>  <h5>Christ Ambassadors Director</h5> </td> 
					<td> Bro. Shawn Kuriakose  </td>                   
				</tr>

				<tr>        
					<td colspan="2"> <h3> ZGA Building Committee:</h3></td>                   
				</tr>    

				<tr>
					<td>  <h5>Chairman</h5>  </td>
					<td>  Bro. Roy Thomas </td>
				</tr>


				<tr>                   
					<td colspan="2"> <h3>Cell Group Coordinators:</h3> </td> 
				</tr>

				<tr>
					<td>  <h5>Zion West:</h5>  </td>
					<td>  Bro. Geemon Varghese, Bro. Reji Thomas  </td>        
				</tr>   

				<tr>
					<td>  <h5>Zion East:</h5>   </td>
					<td>  Bro. Sajee Mathew, Bro. Jijo Joy </td>
				</tr>   

				<tr>
					<td>  <h5>Sisters Coordinator</h5>  </td>
					<td>  Sis. Jaicy George  </td>
				</tr>

				<tr> 
					<td>  <h5>Facilities</h5>  </td>
					<td>  Pr. Mathew Varghese, Bro. Roy Thomas   </td>
				</tr>

				<tr>
					<td>  <h5>Audio Visual</h5>  </td>
					<td>  Bro. Abraham Mathew, Bro. Libin Idiculla, Bro. Steven Mathew, Bro. Timothy Philip, Bro. Jason James  </td>
				</tr>

				<tr>
					<td>  <h5>ZGA Retreat</h5>  </td>
					<td>  Bro. Thomas Jacob, Bro. Joffy Jacob, Bro. Libin Idiculla  </td> 
				</tr>

				<tr>
					<td>  <h5>English Choir</h5>  </td>
					<td>  Sis. Priya Jacob, Bro. Reggie John  </td>
				</tr>

				<tr>
					<td>  <h5>Malayalam Choir</h5>  </td>
					<td>  Bro. Sam David, Bro. Biju Daniel, Bro. Sajee Mathew  </td>
				</tr>

				<tr>
					<td>  <h5>Outreach Coordinators:</h5>  </td>
					<td>  Bro. George. P. Chacko, Bro. John Thomas, Bro. Abraham Jacob  </td>
				</tr>

				<tr>
					<td>  <h5>Ushers:</h5>  </td>
					<td>  Bro. Sabu Yohannan, Bro.Joy George, Sis. Sally John  </td>
				</tr>

				<tr>
					<td>   <h5>ZGA Quarterly Magazine:</h5>  </td>
					<td>  Bro. Siju George, Sis. Lydia Idiculla </td>
				</tr>

				<tr>
					<td>   <h5>ZGA Monthly News Letter:</h5>  </td>
					<td>  Bro. Geemon Varghese  </td>
				</tr>

				<tr>
					<td>  <h5>Sports:</h5>  </td>
					<td>  Bro. Sabu Yohannan, Bro. Libin Idiculla, Bro. Pramod Daniel  </td>
				</tr>

				<tr>
					<td>  <h5>Web Master:</h5>  </td>
					<td>  Bro. Biju Daniel  </td>
				</tr>

				<tr>
					<td>  <h5>2014 Sunday School Teachers:</h5>   </td>
					<td>  Pastor Mathew Joseph, Bro. Biju Daniel, Bro. Thomas Jacob, Sis. Jiji Varghese, Sis. Dora  Geevarghese, Sis. Steffi Wilson </td>
				</tr>		

				</tbody>
			</table>
		</div>
	</div>