<div class="container default-page text-center" fade-in>
	<h1>ZGA LEADERSHIP</h1>
	<h2>Officials</h2>
	<div class="row">
		<div class="col-sm-6 text-center">
			<h5>President</h5>
			<p>Pastor Biju Thomas</p>  
			<h5>Secretary</h5> 
			<p>Bro. Biju Daniel</p>
			<h5>Treasurer</h5> 
			<p>Bro. Roy Thomas</p>
		</div>
		<div class="col-sm-6 text-center">
			<h5>Committee Members</h5>  
			<p>Bro. Samuel David, Bro. Thomas Jacob, Bro. Reji Thomas, Bro. Sabu Yohannan</p>
			<h5>Sunday School Superintendent</h5>             
			<p>Bro. Reggie John</p>
			<h5>Christ Ambassadors Director</h5>  
			<p>Bro. Shawn Kuriakose</p>
		</div>
	</div>
	<h2>Building Committee</h2> 
	<div class="row">
		<div class="col-sm-12 text-center">
			<h5>Chairman</h5>
			<p>Bro. Roy Thomas </p>
		</div>
	</div>
	<h2>Cell Group Coordinators</h2>  
	<div class="row">
		<div class="col-sm-6 text-center">
			<h5>Zion West</h5>  
			<p>Bro. Geemon Varghese, Bro. Reji Thomas</p>
		</div>
		<div class="col-sm-6 text-center">
			<h5>Zion East</h5>   
			<p>Bro. Sajee Mathew, Bro. Jijo Joy</p> 
		</div>
	</div>
	<h2>Other Positions</h2>  
	<div class="row">
		<div class="col-sm-6 text-center">
			<h5>Sisters Coordinator</h5>  
			<p>Sis. Jaicy George</p>  
			<h5>Facilities</h5>  
			<p>Pr. Mathew Varghese, Bro. Roy Thomas</p>   
			<h5>Audio Visual</h5>  
			<p>Bro. Abraham Mathew, Bro. Libin Idiculla, Bro. Steven Mathew, Bro. Timothy Philip, Bro. Jason James</p>  
			<h5>ZGA Retreat</h5>  
			<p>Bro. Thomas Jacob, Bro. Joffy Jacob, Bro. Libin Idiculla</p>
			<h5>English Choir</h5>  
			<p>Sis. Priya Jacob, Bro. Reggie John</p>  
			<h5>Malayalam Choir</h5>  
			<p>Bro. Sam David, Bro. Biju Daniel, Bro. Sajee Mathew</p>  
			<h5>Outreach Coordinators:</h5>  
			<p>Bro. George. P. Chacko, Bro. John Thomas, Bro. Abraham Jacob</p>
		</div>
		<div class="col-sm-6 text-center">
			<h5>Ushers:</h5>  
			<p>Bro. Sabu Yohannan, Bro.Joy George, Sis. Sally John</p>  
			<h5>ZGA Quarterly Magazine:</h5>  
			<p>Bro. Siju George, Sis. Lydia Idiculla</p> 
			<h5>ZGA Monthly News Letter:</h5>  
			<p>Bro. Geemon Varghese</p>
			<h5>Sports:</h5>  
			<p>Bro. Sabu Yohannan, Bro. Libin Idiculla, Bro. Pramod Daniel</p>  
			<h5>Web Master:</h5>  
			<p>Bro. Biju Daniel</p>  
			<h5>2014 Sunday School Teachers:</h5>   
			<p>Pastor Mathew Joseph, Bro. Biju Daniel, Bro. Thomas Jacob, Sis. Jiji Varghese, Sis. Dora  Geevarghese, Sis. Steffi Wilson</p>
		</div>
	</div>
</div>