<div class="container default-page" fade-in>
	<div class="row text-center">
		<h1>Good Links</h1>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Church Related</h3>
			<a href="http://www.agifna.com/" target="_blank">AG CONFERENCE</a><br>
			<a href="http://www.ag.org" target="_blank">Assembly of God</a><br>
			<a href="http://www.northtexas.org/index.jsp" target="_blank">North Texas AG District</a><br>
			<a href="http://www.northtexas.org/index.jsp" target="_blank">PCNAK</a><br>
			<a href="http://www.pcnak.com/" target="_blank">PYCD</a></p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Bible Study Resources</h3>
			<a href="http://www.rbc.org/odb/odb.shtml" target="_blank">Daily Bread</a><br>
			<a href="http://www.yourlivingmanna.com" target="_blank">Your Living Manna</a><br>
			<a href="http://www.malayalambible.com" target="_blank">Malayalam Bible</a><br>
			<a href="http://bible.crosswalk.com/BibleInAYear" target="_blank">Bible-In-A-Year Program</a></p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Organizations</h3>
			<a href="http://www.icpfnews.com/" target="_blank">ICPF</a></p></div>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Magazines</h3>
			<a href="http://www.thegoodnews.in/" target="_blank">Good News Weekly</a><br>
			<a href="http://www.sdpathram.com/" target="_blank">Sworgeeya Dwoni </a><br>
			<a href="http://thegmnews.com//" target="_blank">SGlobal Messenger </a><br>
			<a href="http://www.hallelujah.in" target="_blank">Hallelujah Pathram </a></p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Information</h3>
			<a href="http://www.fathersloveletter.com/fllpreviewlarge.html" target="_blank">A Love Letter</a><br>
			<a href="http://www.indiachristian.com/" target="_blank">India Christian</a><br>
			<a href="http://www.christianitytoday.com/" target="_blank">Christianity Today</a><br>
			<a href="http://www.bible-history.com/" target="_blank">Bible History</a><br>
			<a href="http://www.oru.edu/university/library/holyspirit/pentorg1.html" target="_blank">Modern Pentecostal Movement</a><br>
			<a href="http://www.malayalamchristians.com" target="_blank">Malayalam Christian</a><br>
			<a href="http://www.godtube.com" target="_blank">God Tube</a></p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3"><h3>Worship Resources</h3>
			<a href="http://www.worshipmusic.com/worshipleaders.html" target="_blank">Popular Worship Albums</a><br>
			<a href="http://www.transformedlife.com" target="_blank">Transformed Life</a><br>
			<a href="http://www.higherpraise.com/" target="_blank">Higher Praise</a><br>
			<a href="http://www.christianguitar.com/" target="_blank">Christian Guitar</a><br>
			<a href="http://www.allsaints.tv/videos-malayalamchristiansongs.html" target="_blank">Malayalam Christian Videos</a></p>
		</div>
	</div>
s</div>