<nav class="navbar navbar-inverse">
    <div class="container footer-wrapper">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <h3>ABOUT</h3>
                <ul class="nav">
                    <li><a href="#/vision">VISION</a></li>
                    <li><a href="#/pastor">PASTOR</a></li>
                    <li><a href="#/leadership">LEADERSHIP</a></li>
                    <li><a href="#/gallery">GALLERY</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-xs-6">
                <h3>CONNECT</h3>
                <ul class="nav">
                    <li><a href="#/cellgroups">CELL GROUPS</a></li>
                    <li><a href="#/sundayschool">SUNDAY SCHOOL</a></li>
                    <li><a href="#/youth">YOUTH</a></li>
                    <li><a href="#/women">WOMEN</a></li>
                    <li><a href="#/prayer">PRAYER</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-xs-6">
                <h3>GROW</h3>
                <ul class="nav">
                    <li><a href="#/sermons">SERMONS</a></li>
                    <li><a href="http://ziongospel.blogspot.com/">BLOG</a></li>
                    <li><a href="#/links">LINKS</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-xs-6">
                <h3>SERVE</h3>
                <ul class="nav">
                    <li><a href="#/missions">MISSIONS</a></li>
                    <li><a href="#/volunteer">VOLUNTEER</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12 pull-right">
                <div class="footer-bottom">
                    <a href="#/contact" type="button" role="button" class="btn">CONTACT US</a>
                    <a href="#/prayer" type="button" role="button" class="btn">NEED PRAYER?</a>
                    <br><p>1620 E. Arapaho Road,
                    <br>Richardson, TX 75081</p><a href="http://bit.ly/1ukdztZ"><img src="../zga-assets/google-maps.png" alt="Google Maps"></a>
                </div>
            </div>
        </div>
        <div class="row pull-right">
            <p class="copyright-info">© Copyright 2014 Zion Gospel Assembly. All Rights Reserved.</p>
        </div>
    </div>
</nav>