<div class="container" fade-in>
	<div class="row default-page">
		<h2>OUR PASTOR</h2>
		<h3>PASTOR BIJU THOMAS</h3>
		<p>Born to God-fearing Malayali parents, Biju Thomas spent his early years and studies in Keraka in India.</p>
		<p>After finishing his Engineering Degree in Industrial Engineering,  he worked as an Industrial Engineer in USA.</p>
		<p>As per the divine call, Biju Thomas committed his life for full time ministry and completed his Masters Degree in Theology from Dallas Theological Seinary.</p>
		<p>Pastor Biju Thomas Served as the youth Pastor in IPC Hebron, Houston and as the Senior Pastor in IPA, Irving Texas.</p>
		<p>Pastor Biju Thomas is an Ordained minister of Assemblies of God. He and his wife Mercy serve the Lord with what they have been entrusted with. They are blessed with two children, daughter Chrystal and son Christian.</p>
		<p>Nothing, but the immense grace of God has carried him thus far.</p>
	</div>
</div>