<div class="container" fade-in>
	<div class="row default-page">
		<h2>OUR VISION</h2>
		<h3>WE WANT TO BE AN AGENCY OF GOD FOR EVANGELIZING THE WORLD</h3>
			<p>To be a Corporate body in which we can worship God, and to be a channel of God's purpose to build a body of saints being perfected in the image of His Son. We exist to serve God in worship and work, to serve the world in evangelism and compassion, and to serve the church in fellowship, instruction, inspiration, and mutual assistance.</p>

		<h3>WE COMMIT OURSELVES TO HIM... IN WORSHIP</h3>
			<p>We commit ourselves to anointed worship-to glorify God in Spirit and in truth, unashamed of our extravagant love for Jesus Christ. We commit ourselves to be a people who live in, and for, the glory of God. In our endeavor to enable every believer to become a true worshipper, we will ask the Lord to provide anointed, gifted worship leaders, and we will equip them in every way possible as they lead our congregation in authentically expressed, spiritually alive worship to the Lord.</p>

		<h3>WE COMMIT OURSELVES TO HIM... IN DISCIPLESHIP</h3>
		<p><ol>
			<li>We commit ourselves to personal spiritual growth and discipleship. It is God's will for every believer to mature in Christ-like character. Spiritual formation brings glory to our Creator and Savior and validates our witness to the world. We will use every effective means to spiritually develop believers in our churches and to prepare continuing generations for service.</li>
				
			<li>We will ask the Lord to provide God-called pastors for our churches and ministries to bring in scriptural and spiritual leadership as the Lord helps us grow into effective, powerful, light-bearing communities of faith, unto the utmost parts of the world.</li>
				
			<li>We commit ourselves to training and equipping. We will diligently train new leaders called by the Lord. We will encourage and enable pastors, teachers, evangelists, missionaries and lay leaders to reach their full potential in ministry. Excellent training and meaningful resource materials will be provided for our church leaders to enable them to effectively equip God's people for service.</li>
		</ol></p>

		<h3>WE COMMIT OURSELVES TO HIM... IN EVANGELISM</h3>
		<p><ol>
			<li>We commit ourselves to a renewed passion for evangelism. We are asking God to birth in us new compassion for those who are perishing without Christ. Every member and every ministry of this Fellowship must be compelled by the lostness of humanity. We will reach out to the oppressed and wounded-to all who are marching blindly to everlasting death, numbed by the immorality, materialism and rampant decay of our society. We will use every effective, biblical, outreach method the Holy Spirit gives us to bring people to salvation and transformation through the love and lordship of Jesus Christ.</li>
				
			<li>We commit ourselves to compassion ministries. We will touch the poor and the suffering with the compassion of Christ and will demonstrate His love in practical ways, providing food, clothing and medical care. Through our churches and missions programs, we will minister to total human need, both spiritual and physical. We will proclaim God's unconditional love, His provision of forgiveness, and His pathway of acceptance to all who are broken by sin-poor and rich alike-and urge them to receive and follow Christ.</li>
				
			<li>We commit ourselves with unrelenting passion to the great cause of worldwide missions. In this cause, we would without reservation, be of one mind in the task of world missions. We believe God that, in the grip of the Spirit's conviction, every church and every member will support in prayer and sacrificially give to this cause. Most importantly, we pledge the greatest of all investments-men and women who will take their places in the vast, unreached fields of end-time harvest.</li>
		</ol></p>
	</div>

</div>